<section class="Sidebar">
    <ul>
        <li class="dashboard">
            <a href="{{ basePath }}/dashboard" class="module">{{ __.Dashboard.modules.dashboard.name }}</a>
        </li>
        <li class="ads">
            <a href="{{ basePath }}/dashboard/ads" class="module">{{ __.Dashboard.modules.ads.name }}</a>
            <a href="{{ basePath }}/dashboard/ads/add" class="add"><i class="fa fa-plus"></i></a>
        </li>
        <li class="blog">
            <a href="{{ basePath }}/dashboard/blog" class="module">{{ __.Dashboard.modules.blog.name }}</a>
            <a href="{{ basePath }}/dashboard/blog/add" class="add"><i class="fa fa-plus"></i></a>
        </li>
        <li class="config">
            <a href="{{ basePath }}/dashboard/config" class="module">{{ __.Dashboard.modules.config.name }}</a>
        </li>
        <li class="feedback">
            <a href="{{ basePath }}/dashboard/feedback" class="module">{{ __.Dashboard.modules.feedback.name }}</a>
        </li>
        <li class="pages">
            <a href="{{ basePath }}/dashboard/pages" class="module">{{ __.Dashboard.modules.pages.name }}</a>
            <a href="{{ basePath }}/dashboard/pages/add" class="add"><i class="fa fa-plus"></i></a>
        </li>
        <li class="polls">
            <a href="{{ basePath }}/dashboard/polls" class="module">{{ __.Dashboard.modules.polls.name }}</a>
            <a href="{{ basePath }}/dashboard/polls/add" class="add"><i class="fa fa-plus"></i></a>
        </li>
        <li class="users">
            <a href="{{ basePath }}/dashboard/users" class="module">{{ __.Dashboard.modules.users.name }}</a>
            <a href="{{ basePath }}/dashboard/users/add" class="add"><i class="fa fa-plus"></i></a>
        </li>
        <li class="logout">
            <a href="{{ basePath }}/users/logout" class="module">{{ __.Dashboard.modules.logout.name }}</a>
        </li>
    </ul>
</section>