<div class="Create">
    <form action="{{ basePath }}/dashboard/blog/create" method="post">
        <h2>{{{ icon "plus" }}} {{ section }}</h2>

        {{#if message }}
            <h3>{{{ message }}}</h3>
        {{/if}}

        {{{
            renderSchema
                __ = __
                flashData = flashData
                hiddenElements = hiddenElements
                schema = schema
                securityToken = securityToken
                connectedUser = connectedUser
        }}}
    </form>
</div>
