<div class="Create">
    <form action="{{ basePath }}/dashboard/blog/create" method="post" enctype="multipart/form-data">
        <h2>{{{ icon "plus" }}} {{ section }}</h2>

        {{#if message }}
            <h3>{{{ message }}}</h3>
        {{/if}}

        {{{
            renderSchema
                __ = __
                action = action
                connectedUser = connectedUser
                flashData = flashData
                schema = schema
                securityToken = securityToken
        }}}

        {{{
            renderMedia
                media = media
        }}}
    </form>
</div>
