<div class="add">
    <form action="{{ basePath }}/dashboard/blog/add" method="post">
        <h2>{{{ icon "fa-plus" }}} {{ section }}</h2>

        {{#if message }}
            <h3>{{{ message }}}</h3>
        {{/if}}

        <div class="leftBlock">
            <div class="inputBlock">
                {{{
                    label
                        for="blogTitle"
                        text=__.Dashboard.forms.fields.title
                }}}

                <p>
                    {{{
                        input
                            id="blogTitle"
                            name="title"
                            required=true
                            value=(flash flashData.title)
                    }}}
                </p>
            </div>

            <div class="inputBlock">
                {{{
                    label
                        for="blogSlug"
                        text=__.Dashboard.forms.fields.slug
                }}}

                <p>
                    {{{
                        input
                            id="blogSlug"
                            name="slug"
                            required=true
                            value=(flash flashData.slug)
                    }}}
                </p>
            </div>

            <div class="inputBlock">
                {{{
                    label
                        for="blogTags"
                        text=__.Dashboard.forms.fields.tags
                }}}

                <p>
                    {{{
                        input
                            id="blogTags"
                            name="tags"
                            value=(flash flashData.tags)
                    }}}
                </p>
            </div>

            <div class="inputBlock">
                {{{
                    label
                        for="blogAuthor"
                        text=__.Dashboard.forms.fields.author
                }}}

                <p>
                    {{{
                        input
                            id="blogAuthor"
                            name="author"
                            value=userInfo.username
                            value=(flash flashData.author)
                    }}}
                </p>
            </div>
        </div>

        <div class="rightBlock">
            <div class="inputBlock">
                {{{
                    label
                        for="blogLanguage"
                        text=__.Dashboard.forms.fields.language
                }}}

                <p>
                    {{{
                        select
                            id="blogLanguage"
                            name="language"
                            options=__.Dashboard.forms.fields.selects.languages
                    }}}
                </p>
            </div>

            <div class="inputBlock">
                {{{
                    label
                        for="blogActiveComments"
                        text=__.Dashboard.forms.fields.activeComments
                }}}

                <p>
                    {{{
                        select
                            id="blogActiveComments"
                            name="activeComments"
                            options=__.Dashboard.forms.fields.selects.decision
                    }}}
                </p>
            </div>

            <div class="inputBlock">
                {{{
                    label
                        for="blogState"
                        text=__.Dashboard.forms.fields.state
                }}}

                <p>
                    {{{
                        select
                            id="blogEstatus"
                            name="state"
                            options=__.Dashboard.forms.fields.selects.state
                    }}}
                </p>
            </div>

            <div class="inputBlock">
                {{{
                    label
                        for="blogPublish"
                        text=__.Dashboard.forms.fields.publish
                }}}

                <p>
                    {{{
                        submit
                            id="blogPublish"
                            class="btn btn-success"
                            name="publish"
                            value=__.Dashboard.forms.fields.publish
                    }}}
                </p>
            </div>
        </div>

        <div class="centralBlock clearfix">
            <div class="multimedia">
                <ul>
                {{#multimedia}}
                    <li>{{ this }}</li>
                {{/multimedia}}
                </ul>
            </div>

            <div class="inputBlock">
                {{{
                    label
                        for="excerpt"
                        text=__.Dashboard.forms.fields.excerpt
                }}}

                <p>
                    {{{
                        textarea
                            id="excerpt"
                            class="editor textarea"
                            name="excerpt"
                            value=(flash flashData.excerpt)
                    }}}
                </p>
            </div>

            <div class="inputBlock">
                {{{
                    label
                        for="content"
                        text=__.Dashboard.forms.fields.content
                }}}

                <p>
                    <a class="pointer" id="blogIncludeAd"><i class="fa fa-google"></i></a>
                    <a class="pointer" id="blogIncludeCode"><i class="fa fa-code"></i></a>
                </p>

                <p>
                    {{{
                        textarea
                            id="content"
                            class="editor textarea"
                            name="content"
                            value=(flash flashData.content)
                    }}}
                </p>
            </div>

            <div class="inputBlock">
                {{{
                    label
                        for="blogCodes"
                        text=__.Dashboard.forms.fields.codes
                }}}

                <p>
                    {{{
                        textarea
                            id="blogCodes"
                            name="codes"
                            value=(flash flashData.codes)
                    }}}
                </p>
            </div>
        </div>
    </form>
</div>
