<div class="readAction">
    <h1>List of Posts</h1>

    <table class="table grey">
        <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Título</th>
                <th class="center">Author</th>
                <th class="center">Estado</th>
                <th class="center">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="center"><input type="checkbox" /></td>
                <td>1</td>
                <td>Desarrollando un CMS desde cero con Node.js 1</td>
                <td class="center">Codejobs</td>
                <td class="center">Publicado</td>
                <td class="center">{{{ icon "pencil" }}} | {{{ icon "trash" }}}</td>
            </tr>
            <tr class="danger">
                <td class="center"><input type="checkbox" /></td>
                <td>2</td>
                <td>Desarrollando un CMS desde cero con Node.js 2</td>
                <td class="center">Codejobs</td>
                <td class="center">Publicado</td>
                <td class="center">{{{ icon "pencil" }}} | {{{ icon "trash" }}}</td>
            </tr>
            <tr class="warning">
                <td class="center"><input type="checkbox" /></td>
                <td>3</td>
                <td>Desarrollando un CMS desde cero con Node.js 3</td>
                <td class="center">Codejobs</td>
                <td class="center">Publicado</td>
                <td class="center">{{{ icon "pencil" }}} | {{{ icon "trash" }}}</td>
            </tr>
            <tr class="success">
                <td class="center"><input type="checkbox" /></td>
                <td>4</td>
                <td>Desarrollando un CMS desde cero con Node.js 4</td>
                <td class="center">Codejobs</td>
                <td class="center">Publicado</td>
                <td class="center">{{{ icon "pencil" }}} | {{{ icon "trash" }}}</td>
            </tr>
            <tr>
                <td class="center"><input type="checkbox" /></td>
                <td>5</td>
                <td>Desarrollando un CMS desde cero con Node.js 5</td>
                <td class="center">Codejobs</td>
                <td class="center">Publicado</td>
                <td class="center">{{{ icon "pencil" }}} | {{{ icon "trash" }}}</td>
            </tr>
            <tr class="info">
                <td class="center"><input type="checkbox" /></td>
                <td>6</td>
                <td>Desarrollando un CMS desde cero con Node.js 6</td>
                <td class="center">Codejobs</td>
                <td class="center">Publicado</td>
                <td class="center">{{{ icon "pencil" }}} | {{{ icon "trash" }}}</td>
            </tr>
        </tbody>
    </table>
</div>
