<div class="readAction">
    <h1>{{ __.Dashboard.modules.blog.list }}</h1>

    <p>
        <a href="{{ basePath }}/dashboard/blog/create" title="{{ __.Dashboard.modules.blog.createNewPost }}">
            {{{ icon "plus" }}} {{ __.Dashboard.modules.blog.createNewPost }}
        </a>
    </p>

    {{{
        renderSearch
            __ = __
            currentDashboardApp = currentDashboardApp
            basePath = basePath
    }}}

    {{{
        renderTable
            tableSchema = tableSchema
    }}}

    {{{
        pagination
    }}}
</div>
