{{#compress}}
<!DOCTYPE html>
<html lang="{{ __.Site.language }}">
    <head>
        <base href="{{ baseUrl }}" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="content-language" content="{{ __.Site.language }}" />
        <meta name="description" content="{{ __.Site.description }}" />

        {{#if isMobile}}
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
        {{/if}}

        <title>{{ __.Site.title }}</title>

        <link href="/css/dashboard/style.css" rel="stylesheet" />
        <link rel="shortcut icon" href="images/favicon.png">
    </head>

    <body>
        {{> dashboard/header }}
        {{> dashboard/sidebar }}

        <div class="Content {{ action }}">
            {{{ body }}}
        </div>

        <!-- Scripts -->
        <script src="/js/vendor.js"></script>
        <script src="/js/all.js"></script>
    </body>
</html>
{{/compress}}
